{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "*.scss",
            "group": "builtin",
            "position": "before",
            "patternOptions": { "matchBase": true }
          },
          {
            "pattern": "@helpers/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@components/**",
            "group": "external",
            "position": "after"
          }
        ],
        "warnOnUnassignedImports": true,
        "pathGroupsExcludedImportTypes": ["type"],
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
      }
    ],
    "indent": ["error", 2],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-this-alias": 0,
    "@typescript-eslint/no-non-null-assertion": 0
  }
}
